{% extends "goal-detail-base.html" %}

{% block header %}
{% if task is not none %}
<h1>{{ task.task }}</h1>
<h3>{{ task.get_goal() }}</h1>
<a href="{{ url_for('task_bp.view_subtasks', task_id=task.id) }}">
<input class="standard-button" type="button" value="View Subtasks ({{task.subtasks|length}})">
</a>
{% elif goal is not none %}
<h1>New Task for <span class='highlight-text'>{{ goal.goal }}</span></h1>
{% endif %}
{% endblock %}

{% block form_content %}
{{ form.goal.label }} {{ form.goal() }}
{{ form.target_date.label }} {{ form.target_date() }}
{{ form.target_time.label }} {{ form.target_time() }}
{% endblock %}
