{% include 'task-view-base.html' %}
{% block content %}
<a id="new_subtask" href="#">
    <button class="plus-button">+</button>
</a>
<a href="#">
    <button class="generate-button"></button>
</a>
{% endblock %}
{% block scripts %}
<script>
    var Scrollbar = window.Scrollbar;
    Scrollbar.init(document.querySelector('#subtasks'));
</script>
<script src="{{ url_for('static', filename='show_alert.js') }}"></script>
<script src="{{ url_for('static', filename='goal-card-component-base.js') }}"></script>
<script src="{{ url_for('subtask_bp.static', filename='subtask-card-component.js') }}"></script>
<script>
    var generateButton = document.querySelector('.generate-button');
    const urlParams = new URLSearchParams(window.location.search);
    const taskId = urlParams.get('task_id');
    const newSubtaskLink = document.getElementById('new_subtask');
    newSubtaskLink.href = `new_subtask/${taskId}`;

    generateButton.addEventListener('click', function() {
        max_tasks = 20        
        var numTasks = prompt("How many subtasks would you like to generate? (Max " + max_tasks + ")");

        if (numTasks) {
            numTasks = parseInt(numTasks);
            while (isNaN(numTasks) || numTasks <= 0 || numTasks > max_tasks) {
                numTasks = prompt("Please enter a positive number less than or equal to " + max_tasks + ".");
                if (!numTasks) {
                    return;
                }
                numTasks = parseInt(numTasks);
            }
            var loading = document.querySelector('.loading');
            loading.style.display = 'block';
            var newUrl = "/generate_subtasks/" + numTasks + "?task_id=" + taskId;
            window.location.assign(newUrl);
        }
    });    
</script>
<script src="{{ url_for('static', filename='feature_value_request.js') }}"></script>
<script>
    var currentUrl = window.location.href;
    handleFirstTimeFeatureRequest('is_first_new_subtask', '<h1>Adding a new subtask</h1> <p>Click the plus button in the lower right portion of your screen to add a new subtask to this task.</p><br><button class="tutorial-plus-button">+</button><h1>Generating Subtasks</h1><p>To generate subtasks, click the brainpower icon in the lower left of your screen</p><button class="tutorial-generate-button"></button>', currentUrl, 'Ok');
</script>
{% endblock %}