bcrypt
colorama
python-dotenv
email_validator
Flask
Flask-Mail
flask_migrate
flask_restx
Flask-Security-Too
flask_sqlalchemy
flask_wtf
halo
langchain
openai
psycopg2-binary
flask-socketio
SQLAlchemy
termcolor
tiktoken
wtforms
uwsgi