body {
  background-color: #f0f0f0;
  color: #000000;
  font-family: "Open Sans", sans-serif;
}

.welcome-screen {
  text-align: center;
  padding: 50px;
}

.logo,
.inspiring-image {
  animation: fadein 2s;
}
.logo.logo,
.inspiring-image.logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}
.logo.inspiring-image,
.inspiring-image.inspiring-image {
  width: 100%;
  height: auto;
  margin-top: 25px;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
h1.main-heading {
  font-size: 36px;
  font-weight: bold;
}

h2.sub-heading {
  font-size: 28px;
  font-weight: 600;
}

.name-input {
  border: none;
  border-bottom: 2px solid #000;
  outline: none;
  transition: border 0.3s ease;
}
.name-input:focus {
  border-bottom: 2px solid #4A90E2;
}

.submit-button {
  background-color: #f90; /* Amazon orange */
  background-image: linear-gradient(to bottom, #f7dfa5, #f0c14b);
  border-color: #a88734 #9c7e31 #846a29;
  color: #111; /* Amazon text color */
  border: 1px solid;
  padding: 3px 11px; /* Adjust the padding as needed */
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  border-radius: 3px; /* Rounded corners */
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4) inset;
  cursor: pointer;
  transition: border-color 0.3s ease-in-out;
  line-height: 20px; /* adjust as needed */
  padding: 6px 12px; /* adjust as needed */
  width: 100%;
}
.submit-button:hover, .submit-button:focus {
  border-color: purple;
}

.card-container {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  margin: 10px;
}

.role-card {
  position: relative;
  transition: transform 0.3s ease-in-out;
  border-radius: 10px;
  border: 4px solid #000;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  margin: 10px;
  padding: 10px;
  background-color: #fff;
  width: 200px;
  height: 200px;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  font-size: 20px;
  color: #000;
  font-weight: bold;
  text-decoration: none;
}
.role-card:hover {
  transform: translateY(-10px);
  border: 4px solid purple;
  box-shadow: 0 0 20px purple;
}
.role-card:active, .role-card.active {
  transform: translateY(-5px);
  background-color: purple;
  box-shadow: 0 0 20px purple;
}

.text-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

form {
  width: 20%;
}

.text-center {
  text-align: center;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  background-color: darkgray;
  border: 1px solid #000;
  border-radius: 4px; /* Rounded corners */
  box-sizing: border-box;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  width: 100%;
  flex-grow: 1;
  /* This will make the text box take up the remaining space in the container */
  margin-right: 10px;
  /* This will put a small margin between the text box and the button */
  line-height: 20px; /* adjust as needed */
  padding: 6px 12px; /* adjust as needed */
}
input:hover {
  border-color: #800080;
}
input:focus {
  border-color: #800080;
}
input:valid {
  background-color: #F5F5F5;
}
input ~ .border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #4eb398;
}
.input:focus input ~ .border {
  width: 100%;
  transition: 0.5s;
  background-color: #000;
}

/*# sourceMappingURL=styles.css.map */
