{% extends "dashboard.html" %}

{% block head %}
{{ super() }}
{{ forgot_password_form.javascript() }}
{% endblock %}

{% block main %}
<div class="login-form-container">
    <form class="login-form" method="POST" action="{{ url_for_security('forgot_password') }}">
        <h3>We understand that things happen. Let's get you a new password.</h3>
        <p>Simply enter your email address below and click Recover Password.</p>
        <p>If your email address matches a user in our database, we'll send you a reset link!</p>
        <hr style="width: 75%;">
        {% include "security/_messages.html" %}
        {{ forgot_password_form.hidden_tag() }}
        {{ forgot_password_form.email.label }}<br>
        {{ forgot_password_form.email(size=32, placeholder="user@example.com", value=request.args.get('email_address', '')) }}
        {{ forgot_password_form.submit(class="standard-button") }}
    </form>
</div>        
{% endblock %}
