{% extends "dashboard.html" %}

{% block head %}
{{ super() }}
{{ login_user_form.javascript() }}
{% endblock %}

{% block main %}
<div class="login-form-container">
  <form class="login-form" method="POST" action="{{ url_for_security('login') }}">
    <a href="{{ url_for('google_bp.login') }}" class="experiment-parent-element">
      <img src="https://developers.google.com/identity/images/btn_google_signin_dark_normal_web.png" alt="Sign in with Google"/>
      <div class="experiment-badge">Experimental: Google Login</div>
    </a>
    {{ login_user_form.hidden_tag() }}
    {{ login_user_form.email.label }}<br>
    {{ login_user_form.email(size=32, placeholder="name@example.com", id="email-input") }}
    {% for error in login_user_form.email.errors %}
        <span class="form-error">{{ error }}</span>
    {% endfor %}
    <br>

    {{ login_user_form.password.label }}<br>
    {{ login_user_form.password(size=32, placeholder="Enter your password") }}
    {% for error in login_user_form.password.errors %}
        <span class="form-error">{{ error }}</span>
    {% endfor %}
    <br>

    {{ login_user_form.submit(class="standard-button") }}
    <a id='forgot-password-link' href="#">Forgot password?</a>
  </form>  
</div>
{% endblock %}
{% block scripts %}
<script>
  document.getElementById('forgot-password-link').addEventListener('click', function(e) {
      var email = document.getElementById('email-input').value;
      var url = "{{ url_for_security('forgot_password') }}?email_address=" + encodeURIComponent(email);
      window.location.href = url;
      e.preventDefault();
  });
</script>
{% endblock %}
