{% extends "dashboard.html" %}

{% block head %}
{{ super() }}
{{ login_user_form.javascript() }}
{% endblock %}

{% block main %}
<div class="login-form-container">
  <form class="login-form" method="POST" action="{{ url_for_security('login') }}">
    {{ login_user_form.hidden_tag() }}
    <!-- Google Sign In -->
    <div id="g_id_onload"
        data-client_id="427431941341-6m1oc9imoc7r74n98gavfoi0ikc5vnhs.apps.googleusercontent.com"
        data-login_uri="http://localhost:5000/google_login/callback"
        data-auto_prompt="false">
    </div>
    <div class="g_id_signin"
        data-type="standard"
        data-size="large"
        data-theme="outline"
        data-text="sign_in_with"
        data-shape="rectangular"
        data-logo_alignment="left">
    </div>
    <hr style="width:100%;">

    {{ login_user_form.email.label }}<br>
    {{ login_user_form.email(size=32, placeholder="name@example.com", id="email-input") }}
    {% for error in login_user_form.email.errors %}
        <span class="form-error">{{ error }}</span>
    {% endfor %}
    <br>

    {{ login_user_form.password.label }}<br>
    {{ login_user_form.password(size=32, placeholder="Enter your password") }}
    {% for error in login_user_form.password.errors %}
        <span class="form-error">{{ error }}</span>
    {% endfor %}
    <br>

    {{ login_user_form.submit(class="standard-button") }}
    <a id='forgot-password-link' href="#">Forgot password?</a>
  </form>  
</div>
{% endblock %}
{% block scripts %}
<script>
  document.getElementById('forgot-password-link').addEventListener('click', function(e) {
      var email = document.getElementById('email-input').value;
      var url = "{{ url_for_security('forgot_password') }}?email_address=" + encodeURIComponent(email);
      window.location.href = url;
      e.preventDefault();
  });
</script>
<script src="https://accounts.google.com/gsi/client" async defer></script>
{% endblock %}
