{% extends "dashboard.html" %}

{% block head %}
{{ super() }}
{{ reset_password_form.javascript() }}
{% endblock %}

{% block main %}
<h1>Set New Password</h1>
<p>Go ahead and set a new password below.</p>
<div class="login-form-container">
    <form class="login-form" method="POST">
        {% include "security/_messages.html" %}
        {{ reset_password_form.hidden_tag() }}
        {{ reset_password_form.password.label }}<br>
        {{ reset_password_form.password(size=32, placeholder="Enter a new password") }}
        {{ reset_password_form.password_confirm.label }}<br>
        {{ reset_password_form.password_confirm(size=32, placeholder="Confirm your new password") }}
        {{ reset_password_form.submit(class="standard-button") }}
    </form>
</div>        
{% endblock %}
{% block scripts %}
{{ super() }}
{% endblock %}

