body {
    background-color: #f0f0f0;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.welcome-screen {
    text-align: center;
    padding: 50px;
}

.logo,
.inspiring-image {
    animation: fadein 2s;

    &.logo {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        overflow: hidden;
    }

    &.inspiring-image {
        width: 100%;
        height: auto;
        margin-top: 25px;
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

h1.main-heading {
    font-size: 36px;
    font-weight: bold;
}

h2.sub-heading {
    font-size: 28px;
    font-weight: 600;
}

.name-input {
    border: none;
    border-bottom: 2px solid #000;
    outline: none;
    transition: border 0.3s ease;

    &:focus {
        border-bottom: 2px solid #4A90E2;
    }
}

.submit-button {
    background-color: #FF9800;
    background-image: linear-gradient(to bottom,#f7dfa5,#f0c14b);
    border-color: #a88734 #9c7e31 #846a29;
    color: #111; /* Amazon text color */
    border: 1px solid;
    padding: 3px 11px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(255,255,255,.4) inset;
    cursor: pointer;
    transition: border-color 0.3s ease-in-out;
    line-height: 20px;
    padding: 6px 12px;
    width: 100%;
    
    &:hover,
    &:focus {
        border-color: #673AB7;
    }
}

.card-container {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    margin: 10px;
}

/* Role Selection */
@keyframes fadeInHighlight {
    0% { color: #000; }
    100% { color: #009688; }
}

.highlight-text {
    animation: fadeInHighlight 2s ease-in-out forwards;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loading {
  display: none;
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  &:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
  }

  &:not(:required) {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;

    &:after {
      content: '';
      display: block;
      font-size: 10px;
      width: 1em;
      height: 1em;
      margin-top: -0.5em;
      animation: spinner 500ms infinite ease-in-out;
      border-radius: 0.5em;
      box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
    }
  }
}

.role-card {
    position: relative;
    transition: transform 0.3s ease-in-out;
    border-radius: 10px;
    border: 4px solid #000;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    width: 200px;
    height: 200px;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    font-size: 20px;
    color: #000;
    font-weight: bold;
    text-decoration: none;

    &:hover {
        transform: translateY(-10px);
        border: 4px solid #673AB7;
        box-shadow: 0 0 20px #673AB7;
    }

    &:active,
    &.active {
        transform: translateY(-5px);
        background-color: #673AB7;
        box-shadow: 0 0 20px #673AB7;
    }
}

.text-container {
    display: flex;
    transition: all 0.5s ease-in-out;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.text-container:focus-within {
    width: 100%;  // expanded width
}

form {
    width: 20%;
}

.text-center {
    text-align: center;
}

.input {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    background-color: darkgray;
    border: 1px solid #000;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.5s ease-in-out;
    flex-grow: 1;
    margin-right: 10px;
    line-height: 20px;
    padding: 6px 12px;

    &:hover {
        border-color: #800080;
    }

    &:focus {
        border-color: #800080;
        outline: none;  // remove browser default outline
    }

    &:valid {
        background-color: #F5F5F5;
    }

    &~.border {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px;
        background-color: #4eb398;

        .input:focus & {
            width: 100%;
            height: 100%;
            border-color: #800080;
            outline: none;
        }
    }
}

.goal-card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    padding: 5px;
    margin-bottom: 20px;

    .checkbox-container {
        flex: 0 0 auto;
        display: flex;
        align-items: center;
        margin-right: 10px;
    }

    .goal-text {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;  
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: left;
        margin-right: auto;
    }

    .buttons-container {
        margin-top: 10px;
        margin-left: auto;
        display: flex;
        align-items: center;
        padding: 5px;

        button {
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            padding: 10px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            font-size: 10px;

            &:not(:last-child) {
                margin-right: 10px;
            }

            &:hover {
                background-color: #0056b3;
            }
        }
    }

    &:hover {
        transform: translateY(-10px);
        border: 4px solid #673AB7;
        box-shadow: 0 0 20px #673AB7;
    }

    &:active,
    &.active {
        transform: translateY(-5px);
        background-color: #673AB7;
        box-shadow: 0 0 20px #673AB7;
    }
}

/* Subtask Generation */
.subtask-container {
    display: flex;
    height: 100vh;    
}

.subtask-panel {
    padding: 20px;
    border: 1px solid #ccc;
}

.subtask-left-panel {
    width: 40%;
}

.right-panel {
    width: 0%;
}

.subtask-center-panel {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.subtask-chat-area {
    flex-grow: 1;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.subtask-chat-input {
    display: flex;
}

.subtask-chat-input input {
    flex-grow: 1;
    padding: 10px;
}

.subtask-chat-input button {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
}

.subtasks {
    margin-top: 20px;
    overflow: auto;
}

.subtasks .subtask {
    background-color: #f8f9fa;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}