html,
body {
    height: 100%;
    max-height: 100vh;
    overflow: hidden;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('/static/Fonts/source-sans-pro.black.woff') format('woff');
    font-weight: black;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('/static/Fonts/source-sans-pro.bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('/static/Fonts/source-sans-pro.extralight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('/static/Fonts/source-sans-pro.italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('/static/Fonts/source-sans-pro.light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('/static/Fonts/source-sans-pro.regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('/static/Fonts/source-sans-pro.semibold.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

// Scrollbars
/* Styles for the track */
.scrollbar-track-x, .scrollbar-track-y {
    background: #4C0D8C !important;
}

/* Styles for the thumb */
.scrollbar-thumb .scrollbar-thumb-x, .scrollbar-thumb-y {
    background: #910FF1 !important;
}

.black-text-input {
    color: #000;
}

input {
    border: 1px solid transparent;
    background-color: #333;
    height: 40px;
    color: white;
    font-size: 14px;

    &::placeholder {
        padding: 10px;
    }

    &:hover,
    &:focus,
    &:active {
        outline: none;
        border-color: #910FF1 #6826AA #910FF1;
    }

    // replace autofill background color with transparency
    &:-webkit-autofill,
    &:-webkit-autofill:focus {
        -webkit-box-shadow: 0 0 0px 1000px #333 inset;
        box-shadow: 0 0 0px 1000px #333 inset;
        outline-color: transparent;
        transition: background-color 600000s 0s, color 600000s 0s;
    }

    &:-moz-autofill {
        box-shadow: 0 0 0px 1000px #333 inset;
        outline: none;
    }

    &:-ms-autofill {
        box-shadow: 0 0 0px 1000px #333 inset;
        outline: none;
    }
}

.nav-link {
    text-decoration: none; // Remove underline
    color: inherit;
    cursor: text;
    padding: 10px;

    &:visited {
        color: inherit;
    }

    &:hover,
    &:active,
    &:focus {
        background-image: linear-gradient(to bottom, #910FF1, #4C0D8C);
        text-align: center;
        border: 1px solid #910FF1;
        cursor: pointer;
        border-radius: 24px;
    }
}

body {
    background-color: #f0f0f0;
    color: #000000;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    height: 100%;
}

// Dashboard
.dashboard-container {
    display: flex;
    height: 100vh;
    box-sizing: border-box;
}

.container.mt-5 {
    width: 100%;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 120px;
    background-color: #333;
    color: #fff;
    padding: 20px;

    .nav-icon {
        margin-bottom: 10px;
    }
}

.main-panel {
    display: flex;
    height: 100vh;
    flex-grow: 1;
    background-color: black;
    color: white;
    padding: 20px;
    box-sizing: border-box;

    .header {
        display: flex;
        justify-content: space-between;

        .search-container {
            display: flex;

            input[type="text"] {
                border-radius: 5px;
                padding: 5px;
                color: #000;
            }
        }

        .icon-container {
            display: flex;
            gap: 10px;
        }
    }

    .section {
        margin-bottom: 20px;

        .dream-icon,
        .task-icon {
            display: inline-block;
            margin-right: 10px;
        }

        button.task-button {
            background-color: blue;
            border: none;
            color: white;
            padding: 10px;
            border-radius: 5px;
        }
    }

    .plus-button {
        position: fixed;
        bottom: 20px;
        right: 20px;
        width: 60px;
        height: 60px;
        background-color: #910FF1;
        color: #fff;
        border: none;
        border-radius: 50%;
        font-size: 36px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: #6826AA;
        }
    }
}

.dialogue {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #333;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    h2 {
        margin-bottom: 10px;
    }

    input {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        box-sizing: border-box;
    }

    .button-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    button {
        padding: 10px 20px;
        cursor: pointer;
        width: 45%;
    }
}

.main-panel-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: inherit;
    box-sizing: border-box;
}

@mixin form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0px;
    margin: 0;
    width: 100%;
}

@mixin form-inner-element {
    display: flex;
    flex-direction: column;
    background-color: #333;
    border-radius: 24px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    letter-spacing: 0px;
    padding: 16px;
    min-width: 20%;

    label {
        font-weight: semibold;
        text-decoration: underline;
    }
    
    input,
    textarea {
        margin-bottom: 10px;
    }

    input[type="time"]::-webkit-calendar-picker-indicator {
        filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(218deg) brightness(95%) contrast(80%);
        height: 20px;
        width: 20px;
    }
    
    input[type="date"]::-webkit-calendar-picker-indicator {
        height: 20px;
        width: 20px;
        filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(218deg) brightness(95%) contrast(80%);
    }

    input[type="time"]::-webkit-calendar-picker-indicator:hover {
        filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(291deg) brightness(95%) contrast(80%);
    }
    
    input[type="date"]::-webkit-calendar-picker-indicator:hover {
        filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(291deg) brightness(95%) contrast(80%);
    }
}

.register-form-container,
.login-form-container,
.goal-detail-container {
    @include form-container;

    .register-form,
    .login-form,
    .goal-detail-form,
    .alert {
        @include form-inner-element;
    }
}

#alert-container {
    position: fixed; /* Absolute positioning relative to the viewport */
    top: 0; /* Aligns the container to the top edge of the viewport */
    left: 0; /* Aligns the container to the left edge of the viewport */
    display: flex;
    justify-content: center;
    padding: 0px;
    margin: 0;
    width: 100vw;
    z-index: 1000; /* High z-index to ensure it's above other content */
    background-color: darkgrey;
    .alert {
        color: white;
        font-size: 24px;
        padding: 10px;
        .alert-btn-container {
            // right-align the buttons
            display: flex;
            align-items: right;
            justify-content: flex-end;
            width: 100%;
            .alert-btn {
                background-color: lightgray;
                padding: 10px;
                margin: 10px;
                border-radius: 5px;
            }
            .close-btn {
                border: none;
                font-size: 24px;
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }    
}

// Demo
.welcome-screen {
    text-align: center;
    padding: 50px;
}

.logo,
.inspiring-image {
    animation: fadein 2s;

    &.logo {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        overflow: hidden;
    }

    &.inspiring-image {
        width: 100%;
        height: auto;
        margin-top: 25px;
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

h1.main-heading {
    font-size: 36px;
    font-weight: bold;
}

h2.sub-heading {
    font-size: 28px;
    font-weight: 600;
}

.name-input {
    border: none;
    border-bottom: 2px solid #000;
    outline: none;
    transition: border 0.3s ease;

    &:focus {
        border-bottom: 2px solid #4A90E2;
    }
}

.standard-button,
.cancel-button {
    color: #fff;
    border-radius: 24px;

    border: 1px solid;
    padding: 3px 11px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    border-radius: 24px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .4) inset;
    cursor: pointer;
    transition: border-color 0.3s ease-in-out;
    line-height: 20px;
    padding: 6px 12px;
    width: 100%;
}

.standard-button {
    background-color: #910FF1;
    background-image: linear-gradient(to bottom, #910FF1, #4C0D8C);
    border-color: #910FF1 #6826AA #4C0D8C;
}

.cancel-button {
    background-color: #FFF;
    color: #111;
}

button.submit-button {
    background-color: #FF9800;
    background-image: linear-gradient(to bottom, #f7dfa5, #f0c14b);
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}

.card-container {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    margin: 10px;
}

/* Role Selection */
@keyframes fadeInHighlight {
    0% {
        color: #000;
    }

    100% {
        color: #009688;
    }
}

.highlight-text {
    animation: fadeInHighlight 2s ease-in-out forwards;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@mixin spinner($shadow1, $shadow2, $shadow3, $shadow4, $shadow5, $shadow6, $shadow7, $shadow8) {
    &:after {
      content: '';
      display: block;
      font-size: 10px;
      width: 1em;
      height: 1em;
      margin-top: -0.5em;
      animation: spinner 500ms infinite ease-in-out;
      border-radius: 0.5em;
      box-shadow: $shadow1, $shadow2, $shadow3, $shadow4, $shadow5, $shadow6, $shadow7, $shadow8;
    }
  }
  
  %spinner-common {
    display: none;
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  
    &:before {
      content: '';
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.3);
    }
  
    &:not(:required) {
      font: 0/0 a;
      color: transparent;
      text-shadow: none;
      background-color: transparent;
      border: 0;
    }
  }
  
  .loading.dark-spinner{
    @extend %spinner-common;
  
    @include spinner(
      rgba(0, 0, 0, 0.75) 1.5em 0 0 0,
      rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0,
      rgba(0, 0, 0, 0.75) 0 1.5em 0 0,
      rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0,
      rgba(0, 0, 0, 0.5) -1.5em 0 0 0,
      rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0,
      rgba(0, 0, 0, 0.75) 0 -1.5em 0 0,
      rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0
    );
  }
  
  .loading.light-spinner {
    @extend %spinner-common;
  
    @include spinner(
      rgba(255, 255, 255, 0.75) 1.5em 0 0 0, 
      rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0, 
      rgba(255, 255, 255, 0.75) 0 1.5em 0 0, 
      rgba(255, 255, 255, 0.75) -1.1em 1.1em 0 0, 
      rgba(255, 255, 255, 0.5) -1.5em 0 0 0, 
      rgba(255, 255, 255, 0.5) -1.1em -1.1em 0 0, 
      rgba(255, 255, 255, 0.75) 0 -1.5em 0 0, 
      rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0
    );
  }

.demo-selection-card {
    width: 200px;
    height: 200px;
}

.role-card {
    position: relative;
    transition: transform 0.3s ease-in-out;
    border-radius: 10px;
    border: 4px solid #000;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    font-size: 20px;
    color: #000;
    font-weight: bold;
    text-decoration: none;

    &:hover {
        transform: translateY(-10px);
        border: 4px solid #910FF1;
        box-shadow: 0 0 20px #910FF1;
    }

    &:active,
    &.active {
        transform: translateY(-5px);
        background-color: #910FF1;
    }
}

.text-container {
    display: flex;
    transition: all 0.5s ease-in-out;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.text-container:focus-within {
    width: 100%; // expanded width
}

.text-center {
    text-align: center;
}

.input {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    background-color: darkgray;
    border: 1px solid #000;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.5s ease-in-out;
    flex-grow: 1;
    margin-right: 10px;
    line-height: 20px;
    padding: 6px 12px;

    &:hover {
        border-color: #800080;
    }

    &:focus {
        border-color: #800080;
        outline: none; // remove browser default outline
    }

    &:valid {
        background-color: #F5F5F5;
    }

    &~.border {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px;
        background-color: #4eb398;

        .input:focus & {
            width: 100%;
            height: 100%;
            border-color: #800080;
            outline: none;
        }
    }
}

.goals {
    display: flex;
    flex-direction: column;
}

.goal-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.goal-card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    padding: 5px;
    margin-bottom: 20px;
    color: black;

    .checkbox-container {
        flex: 0 0 auto;
        display: flex;
        align-items: center;
        margin-right: 10px;
    }

    .goal-text {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: left;
        margin-right: auto;
    }

    .buttons-container {
        margin-top: 10px;
        margin-left: auto;
        display: flex;
        align-items: center;
        padding: 5px;

        button {
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            padding: 10px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            font-size: 10px;

            &:not(:last-child) {
                margin-right: 10px;
            }

            &:hover {
                background-color: #0056b3;
            }
        }
        .chat-button {
            background-color: #4C0D8C;

            &:hover {
                background-color: #910FF1;
            }
        }
        .delete-button {
            &:hover {
                background-color: #c82333;
            }
        }
    }

    &:hover {
        border: 4px solid #910FF1;
        box-shadow: 0 0 20px #910FF1;
    }

    &:active,
    &.active {
        // transform: translateY(-5px);
        background-color: #910FF1;
        box-shadow: 0 0 20px #910FF1;
    }
}

.introduction-text {
    font-weight: 400;
    width: 50%;
    margin: auto;
    line-height: 1.5;
}

/* Subtask Generation */
.subtask-container {
    display: block;
    height: 100%;
}

.subtask-panel {
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #ccc;
}

.subtask-left-panel {
    height: 100%;
}

.subtasks {
    margin-top: 20px;
    overflow-y: auto;
}

.subtasks .subtask {
    background-color: #f8f9fa;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;

    &:last-child {
        margin-bottom: 0;
      }
}

.subtask-chat-panel {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.subtask-chat-area {
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
    margin-bottom: 10px;
    height: calc(100% - 60px);
    overflow-y: scroll;
}

.subtask-chat-input {
    display: flex;
    height: 75px;
}

.subtask-chat-input input {
    flex-grow: 1;
    padding: 10px;
    padding-bottom: 20;
    height: 65px;
}

.subtask-chat-input .standard-button {
    padding: 10px;
    border: none;
    width: 75px;
    height: 75px;
}

.user_message {
    padding: 20px;
}

.bot_message {
    background-color: rgba(52,53,65, 0.5);
    color: white;
    padding: 20px;
}

/* Styles for mobile devices */
@media (max-width: 767px) {
    .introduction-text {
        width: 75%;
    }

    /*subtask gen*/
    .subtask-container {
        width: 100%;
        flex-direction: column;
    }

    .subtask-left-panel {
        width: 93%;
    }

    .subtask-chat-panel {
        width: 93%;
    }

    .subtask-chat-panel {
        order: 1;
        /* Move the message panel below subtasks */
    }

    /* error page */
    .error-container {
        width: 80%;
        max-width: 800px;
        margin: 0 auto;
        text-align: center;
        padding: 50px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

    .error-container h1 {
        color: #333;
    }

    .error-container p {
        color: #666;
    }

    .error-container a {
        display: inline-block;
        margin-top: 30px;
        padding: 10px 20px;
        color: #fff;
        background-color: #007bff;
        border-radius: 4px;
        text-decoration: none;
    }

    .error-container a:hover {
        background-color: #0056b3;
    }
}

/* form errors */
.register-form-container {

    .register-form,
    .login-form {
        .form-error {
            display: inline-block;
            color: red;
            font-size: 12px;
            margin-top: 5px;
        }
    }
}

/* Thank you email */
.email-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    flex: 1;
    justify-content: space-evenly;

    a {
        padding: 10px 20px;
        color: #fff;
        background-color: #007bff;
        border-radius: 4px;
        text-decoration: none;
    }

    a:hover {
        background-color: #0056b3;
    }
}