{% extends "goal-detail-base.html" %}

{% block header %}
{% if goal is not none %}
<h1>{{ goal.goal }}</h1>
<a href="{{ url_for('dream_bp.view_tasks', goal_id=goal.id) }}">
<input class="standard-button" type="button" value="View Tasks ({{goal.tasks | selectattr('parent_id', 'none') | list | length}})">
</a>
{% endif %}
{% endblock %}

{% block form_content %}
{{ form.goal.label }} {{ form.goal() }}
{{ form.description.label }} {{ form.description() }}
{{ form.target_date.label }} {{ form.target_date() }}
{{ form.target_time.label }} {{ form.target_time() }}
{% endblock %}
