
{% extends 'dashboard.html' %}
{% block main %}
<h1>Profile</h1>
<div class="profile-container">    
    <div class="profile-detail-form">
        <div class="col-md-12">
            <hr>
            <div class="row">
                <div class="col-md-4">
                    {% if not current_user.google_id %}
                    <h3>Link Google Account</h3>
                    {% with referrer='profile' %}
                        {% include 'google_button.html' %}
                    {% endwith %}
                    {% else %}
                    <h3>Google Account <span class='highlight-text'>{{ current_user.primary_google_email }}</span> is linked</h3>
                    {% endif %}
                </div>
            </div>
            <hr>
            <form method="post" class="profile-detail-form">
                <label for="aka">Preferred Name</label><br>
                <input type="text" name="aka" id="aka" value="{{ current_user.aka }}" required><br>
                <button class="cancel-button" type="submit">Change Preferred Name</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}    