
{% extends 'dashboard.html' %}
{% block main %}
<h1>Profile</h1>
<div class="profile-container">    
    <form class="profile-detail-form">
        <div class="col-md-12">
            <hr>
            <div class="row">
                <div class="col-md-4">
                    {% if not current_user.google_id %}
                    <h3>Link Google Account</h3>
                    {% with referrer='profile' %}
                        {% include 'google_button.html' %}
                    {% endwith %}
                    {% else %}
                    <h3>Google Account is linked</h3>
                    {% endif %}
                </div>
            </div>
            <hr>
            <label for="aka">Preferred Name</label><br>
            <input type="text" name="aka" id="aka" value="{{ current_user.aka }}" required><br>
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </form>
</div>
{% endblock %}    