{% extends "task-view-base.html" %}
{% block titleContent %}
<h1><span class='highlight-text'>{{ subtitle }}</span></h1>
<h3><span class='highlight-text'>{{ title }}</span></h3>
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='show_alert.js') }}"></script>
<script src="{{ url_for('static', filename='feature_value_request.js') }}"></script>
<script>
    const tempUserId = '{{ session["temp_user_id"] }}';    
    handleFirstTimeFeatureRequest('is_first_demo_subtask_gen', '<h1>Your subtasks have also been generated like magic!</h1><p>The prophet just generated 10 Subtasks to break your task down and make it more manageable. To save your dream, tasks, and subtasks, click the save button below', '/register', 'Save your Dream!', tempUserId);
    // Attach the event listener to the parent container
    document.getElementById("alert-container").addEventListener("click", function(event) {
        // walk up the DOM until a node with class="btn-is_first_demo_subtask_gen" is found
        let targetElement = event.target;        
        while (targetElement != null) {
            if (targetElement.classList && targetElement.classList.contains("btn-is_first_demo_subtask_gen")) {
                document.querySelector('.dialogue').style.display = 'none';
                return;
            }
            targetElement = targetElement.parentElement;
        }
    });
</script>
{% endblock %}
