{% extends "task-view-base.html" %}
{% block titleContent %}
<h3><span class='highlight-text'>{{ title }}</span></h3>
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='show_alert.js') }}"></script>
<script src="{{ url_for('static', filename='feature_value_request.js') }}"></script>
<script>
    const tempUserId = '{{ session["temp_user_id"] }}';    
    handleFirstTimeFeatureRequest('is_first_demo_task_gen', '<h1>Welcome to the Pursuit Prophet Task Generation Demo!</h1><p>The prophet just generated 10 Tasks to break your dream down and make it more manageable. To generate subtasks for a Task, simply click on the task to see the AI break it down further!', '#', 'Keep Dreaming!', tempUserId);
    // Attach the event listener to the parent container
    document.getElementById("alert-container").addEventListener("click", function(event) {
        // walk up the DOM until a node with class="btn-is_first_demo_task_gen" is found
        let targetElement = event.target;        
        while (targetElement != null) {
            if (targetElement.classList && targetElement.classList.contains("btn-is_first_demo_task_gen")) {
                document.querySelector('.dialogue').style.display = 'none';
                return;
            }
            targetElement = targetElement.parentElement;
        }
    });
</script>
<script>
    // add click listeners to each goal card in order to generate subtasks
    document.querySelectorAll('.goal-card').forEach(function (goalCard) {
        goalCard.addEventListener('click', function () {
            var taskId = goalCard.getAttribute('data-task-id');

            fetch('/demo/generate_subtasks/10', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    'task_id': taskId,
                }),
            })
                .then(response => response.json())
                .then(data => {
                    // once the subtasks are generated, redirect to the new page
                    window.location.href = `/demo/display_subtasks/${taskId}`;
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
        });
        document.addEventListener('DOMContentLoaded', function () {
            var loading = document.querySelector('.loading');

            goalCard.addEventListener('click', function () {
                loading.style.display = 'block';
            });
        });
    });
</script>
{% endblock %}