<!--extend base.html, take goals array, list goal strings-->

{% extends "base.html" %}
{% block content %}
<h1>{{ title  }}</h1>
<ul>
    {% for goal in goals %}
    <div class="goal-card">
        <div class="checkbox-container">
            <input type="checkbox">
        </div>
        <p class="goal-text">{{ goal.get_goal() }}</p>
        <div class="buttons-container">
            <button>Edit</button>
            <button>Delete</button>
        </div>
    </div>
    {% endfor %}
</ul>
{% endblock %}
