{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center main-heading">What do you want to do today?</h1>
    <div class="text-container">
        <input class="input" type="text" placeholder="Role">
        <span class="border"></span>
        <form action="{{ url_for('role_selection') }}" method="POST">
            <input type="hidden" name="role" id="selectedRole">
            <button type="submit" class="btn submit-button">Submit</button>
        </form>
    </div>
    <h2 class="text-center sub-heading">Examples</h2>
    <div class="row">
        <div class="card-container">
            {% for role in roles %}
            <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                <div class="card role-card">
                    <div class="card-body">
                        <h5 class="card-title">{{ role }}</h5>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<script>
    function typeText(element, text, delay) {
        var i = 0;
        var intervalId = setInterval(function () {
            if (i < text.length) {
                element.value += text[i];
                i++;
            } else {
                clearInterval(intervalId);
            }
        }, delay);
    }
    window.onload = function () {
        var cards = document.getElementsByClassName('role-card');
        var inputBox = document.getElementsByClassName('input')[0];
        var selectedRole = document.getElementById('selectedRole');  // Get the selectedRole input field

        // Add an event listener to the input box that updates selectedRole's value
        inputBox.addEventListener('input', function () {
            selectedRole.value = this.value;
        });

        for (var i = 0; i < cards.length; i++) {
            cards[i].addEventListener('click', function (e) {
                var activeCard = document.getElementsByClassName('active')[0];
                if (activeCard) activeCard.classList.remove('active');
                this.classList.add('active');
                // Set the value of the input box to the role name
                var roleName = this.getElementsByClassName('card-title')[0].textContent;
                inputBox.value = '';
                typeText(inputBox, roleName, 80); // Adjust the delay to speed up or slow down the typing
                selectedRole.value = roleName;  // Set the value of the selectedRole input field
            });
        }
    }
</script>
{% endblock %}