<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pursuit Prophet</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon-16x16.png') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon-32x32.png') }}">
    <!-- Add any additional stylesheets or scripts here -->
</head>
<body>
    {% block content %}{% endblock %}
    <script>
    window.addEventListener('DOMContentLoaded', function () {
        const subtasksContainer = document.getElementById('subtasks');
        const maxHeight = window.innerHeight - subtasksContainer.offsetTop - 20;
        subtasksContainer.style.maxHeight = maxHeight + 'px';
      });
      
      window.addEventListener('resize', function () {
        const subtasksContainer = document.getElementById('subtasks');
        const maxHeight = window.innerHeight - subtasksContainer.offsetTop - 20;
        subtasksContainer.style.maxHeight = maxHeight + 'px';
      });
    </script>
</body>
</html>