<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block pageTitle %}Pursuit Prophet{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon-16x16.png') }}">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon-32x32.png') }}">
  <script src="{{ url_for('static', filename='node_modules/smooth-scrollbar/dist/smooth-scrollbar.js') }}"></script>
  <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-DM1PC73D01"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-DM1PC73D01');
  </script>
</head>

<body>
  <div id="alert-container"></div>
  {% block content %}{% endblock %}
  {% block scripts %}{% endblock %}
</body>

</html>