{% extends "dashboard.html" %}
{% block main %}
<div class='subtask-panel subtask-chat-panel'>
    <div id='subtask-chat-box' class='subtask-chat-area'>
        <!-- Chat messages will be displayed here -->
    </div>
    <div class='subtask-chat-input'>
        <input id="user-message-input" type='text' placeholder='Enter your message...'>
        <button class="standard-button" id="send-button">Send</button>
    </div>
</div>

{% block scripts %}
<script src="{{ url_for('static', filename='chat.js') }}"></script>
{% endblock %}