{% extends "dashboard.html" %}
{% block main %}
<div class="loading light-spinner">Loading...</div>
<!-- <div class='subtask-panel subtask-chat-panel'> -->
    <div id='chat-box' class='subtask-chat-area'>
        <p class="bot_message">Hello. I am Pursuit Prophet. I will convene 3 experts to help you with your goal. When you are ready, please ask a question and press enter or click submit.</p>
    </div>
    <div class='subtask-chat-input'>
        <input id="user-message-input" type='text' placeholder='Enter your message...'>
        <button class="standard-button" id="send-button">Send</button>
    </div>
<!-- </div> -->
{% endblock %}
{% block scripts %}
<script>
    var Scrollbar = window.Scrollbar;
    Scrollbar.init(document.querySelector('#chat-box'));
    var inputBox = document.getElementsByClassName('input')[0];
    inputBox.focus();
</script>
<script src="{{ url_for('static', filename='chat.js') }}"></script>
{% endblock %}