{% extends 'base.html' %}
{% block content %}
<div class="dashboard-container">
    <div class="sidebar">
        <!-- Sidebar with navigation icons -->
        {% if current_user.is_authenticated %}
        <!-- url for dashboard -->
        <a class="nav-link" href="{{ url_for('dashboard') }}">Home</a>
        <a class="nav-link" href="{{ url_for('profile_bp.profile') }}">Profile</a>
        <a class="nav-link" href="{{ url_for_security('logout') }}">Logout</a>
        {% else %}
        <a class="nav-link" href="/demo">Demo</a>
        <a class="nav-link" href="{{ url_for_security('login') }}">Login</a>
        <a class="nav-link" href="{{ url_for_security('register') }}">Register</a>
        {% endif %}
    </div>
    <div class="main-panel">
        <div class="main-panel-content">
            <!-- Header section -->
            {% if current_user.is_authenticated %}
            <div class="header">
                <!-- <div class="search-container">
                    <input type="text" class="input" placeholder="Search Tasks">
                    <div class="search-icon">Search Icon</div>
                </div> -->
                <!-- <div class="icon-container">
                    <div class="profile-icon">Profile Icon</div>
                    <div class="notification-icon">Notification Icon</div>
                    <div class="dropdown-icon">Dropdown Icon</div>                    
                </div> -->
            </div>
            {% endif %}
            <a href="{{ back_button_url }}">{{ back_button_text }}</a>
            {% block main %}{% endblock %}
            {% block extended_content %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}