{% extends 'dashboard.html' %}
{% block main %}
<h1 class="highlight-text"> My Dreams </h1>
{% for goal in goals %}
    {% with task_name=goal.goal %}
    {% include 'goal-card-component.html' %}
    {% endwith %}
<!-- Display tasks related to the goal
    <h3>Tasks in progress</h3>
    {% for task in goal.tasks %}
    <div class="task-icon">{{ task.icon }}</div>
    <button class="task-button">{{ task.task }}</button>
    {% endfor %} -->
{% endfor %}
{% block extended_content %}{% endblock %}
<a href="{{ url_for('add_dream') }}">
    <button class="plus-button">+</button>
</a>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='show_alert.js') }}"></script>
<script src="{{ url_for('static', filename='goal-card-component.js') }}"></script>
{% endblock %}
