{% extends 'dashboard.html' %}
{% block main %}
<h1 class="highlight-text"> My Dreams </h1>
<div class="subtasks" , id="subtasks">
{% for goal in goals %}
    {% with task_name=goal.goal %}
    {% include 'goal-card-component.html' %}
    {% endwith %}
{% endfor %}
</div>
{% block extended_content %}{% endblock %}
<a href="{{ url_for('dream_bp.add_dream') }}">
    <button class="plus-button">+</button>
</a>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='show_alert.js') }}"></script>
<script src="{{ url_for('static', filename='goal-card-component-base.js')}}"></script>
<script src="{{ url_for('dream_bp.static', filename='dream-card-component.js') }}"></script>
<script>
    var Scrollbar = window.Scrollbar;
    Scrollbar.init(document.querySelector('#subtasks'));
</script>
<script src="{{ url_for('static', filename='feature_value_request.js') }}"></script>
<script>
    const featureKey = 'is_first_login'
    handleFirstTimeFeatureRequest(featureKey, '<h1>Welcome to Pursuit Prophet!</h1> <p>We\'re excited to have you here.</p> <p>Pursuit Prophet is a tool to help you achieve your goals. We\'ll help you break down your goals into smaller, more manageable tasks.</p> <p>To get started, click on an existing dream if you have one listed, or the plus button to add your new Dream.</p>', '/', 'Ok')
    </script>
{% endblock %}
