{% extends "dashboard.html" %}
{% block main %}
<div class="loading light-spinner">Loading...</div>
<div class='subtask-container' id='subtask-container' data-task-id="{{ task.id }}">
    <div class='subtask-panel subtask-left-panel'>
        <h2><span class='highlight-text'>{{ goal.get_goal() }}</span></h2>
        <h3><span class='highlight-text'>{{ task.get_task() }}</h3>
        <div class='subtasks' , id="subtasks">
            {% for subtask in subtasks %}
                {% with task_name=subtask.get_task() %}
                    {% include 'goal-card-component.html' %}
                {% endwith %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script>
    var Scrollbar = window.Scrollbar;
    Scrollbar.init(document.querySelector('#subtasks'));
    Scrollbar = window.Scrollbar;
    Scrollbar.init(document.querySelector('#subtask-chat-box'));
</script>
{% endblock %}