{% extends "dashboard.html" %}
{% block main %}
<div class="loading dark-spinner">Loading...</div>
<div class="goal-detail-container">
    <form class="goal-detail-form" method="POST">
        {% if goal -%}
        {%- if goal.parent_id -%}
        {%- if not goal.tasks -%}
        <a href="{{ url_for('generate_subtasks', task_id=goal.id) }}" onclick="showLoading()">
            <input class="standard-button" type="button" value="Generate Subtasks"></input></a>
            {%- else -%}
            <a href="{{ url_for('view_subtasks', title=goal.goal, goal_id=goal.id, parent_id=goal.parent_id) }}">
            <input class="standard-button" type="button" value="View Subtasks ({{goal.tasks|length }})"></input></a>
            {%- endif -%}
        {%- elif goal and goal.tasks -%}
        <a href="{{ url_for('view_tasks', goal_id=goal.id) }}">
        <input class="standard-button" type="button" value="View Tasks ({{goal.tasks|length }})"></input></a>
        {%- elif goal and not goal.tasks %}
        <!-- TODO: Loading -->
        <a href="{{ url_for('goal_generation', title=goal.goal, goal_id=goal.id) }}" onclick="showLoading()">
        <button class="standard-button" type="button">Generate Tasks</button></a>
        {% endif %}
        {% endif %}
        
        {{ form.hidden_tag() }}
        {{ form.goal.label }} {{ form.goal() }}
        {{ form.description.label }} {{ form.description() }}
        {{ form.target_date.label }} {{ form.target_date() }}
        {{ form.target_time.label }} {{ form.target_time() }}
        {{ form.submit(class="standard-button") }}        
    </form>
</div>
{% endblock %}
{% block scripts %}
<script>
  var loading = document.querySelector('.loading');
  // make loading .none on load
  document.addEventListener('DOMContentLoaded', function () {      
      loading.style.display = 'none';
  });
  function showLoading() {
      loading.style.display = 'block';
  }
  document.addEventListener('DOMContentLoaded', function () {
    {% if goal is not none %}
    url = '/view_tasks?goal_id={{ goal.id }}'
    console.log('url:', url)
    {% endif %}
  });
  function gotoUrl() {
    console.log('going to url:', url)
    window.replace(url, '_self')
  }
</script>
{% endblock %}
