{% extends 'dream-home.html' %}
{% block extended_content %}
<div class="dialogue" id="dialogue">
    <h2>Add a Task to {{ goal.goal }}</h2>
    <form method="POST" action="{{ url_for('new_subtask') }}">
        <input type="text" name="dream" placeholder="Task Name" required>
        <div class="button-container">
            <button type="submit" class="standard-button">Submit</button>
            <button type="button" class="cancel-button" onclick="location.href='{{ url_for('dashboard') }}'">Cancel</button>
        </div>
    </form>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script>
    var inputBox = document.getElementsByClassName('input')[0];
    inputBox.focus();
</script>
{% endblock %}
