{% extends 'dashboard.html' %}
{% block main %}
<div class="register-form-container">
    <form method="POST" class="register-form">
        {{ form.hidden_tag() }}
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=32) }}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </p>
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
</div>
{% endblock %}
{% block scripts %}
{% endblock %}