{% extends 'base.html' %}

{% block content %}
<div class="loading">Loading...</div>
<div class="container mt-5">
    <h1 class="text-center main-heading">What are you <span class='highlight-text'>dreaming</span> of today?</h1>
    <div class="text-container">
        <input class="input" type="text" placeholder="Dreams start here">
        <span class="border"></span>
        <form id="primary_goal_form" action="{{ url_for('role_selection') }}" method="POST">
            <input type="hidden" name="role" id="selectedRole">
            <button type="submit" class="btn submit-button">Submit</button>
        </form>
    </div>
    <h2 class="text-center sub-heading">Examples</h2>
    <div class="row">
        <div class="card-container">
            {% for role in roles %}
            <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                <div class="card role-card">
                    <div class="card-body">
                        <h5 class="card-title">{{ role }}</h5>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <h1 class="text-center main-heading">Pursuit Prophet</h1>
        <h3 class="text-center sub-heading">A tool to help you achieve your <span class="highlight-text">dreams</span></h3>
        <p class="introduction-text">Thanks for previewing our plan-generating, task-munching, <span class="highlight-text">dream-achieving</span> goal tracker<br>
            <span class="highlight-text">Pursuit Prophet</span> is a tool that helps you achieve your goals by breaking them down into smaller, more manageable tasks<br>
            <span class="highlight-text">Pursuit Prophet</span> is powered by <span class="highlight-text">ChatGPT</span>, to chat with you about your goals and generate tasks for you to complete<br>
            Try this sneak-peek of <span class="highlight-text">Pursuit Prophet's</span> task and subtask generation, and <a href='mailto:info@pursuitprophet.com'>tell us how it went</a>!
        </p>

    </div>
</div>
<script>
    function typeText(element, text, delay) {
        var i = 0;
        var intervalId = setInterval(function () {
            if (i < text.length) {
                element.value += text[i];
                i++;
            } else {
                clearInterval(intervalId);
            }
        }, delay);
    }
    window.onload = function () {
        var cards = document.getElementsByClassName('role-card');
        var inputBox = document.getElementsByClassName('input')[0];
        var selectedRole = document.getElementById('selectedRole');  // Get the selectedRole input field

        // Add an event listener to the input box that updates selectedRole's value
        inputBox.addEventListener('input', function () {
            selectedRole.value = this.value;
        });

        inputBox.addEventListener('keydown', function (e) {
            if (e.key === 'Enter') {  // 'Enter' is the key for the 'Enter' key
                console.log('Enter pressed')
                e.preventDefault(); // prevent the default action (new line in this case)
                loading.style.display = 'block';
                form.submit(); // submit the form
            }
        });

        for (var i = 0; i < cards.length; i++) {
                // Add an event listener to the input box to submit the form when Enter is pressed
            cards[i].addEventListener('click', function (e) {
                var activeCard = document.getElementsByClassName('active')[0];
                var textInput = document.getElementsByClassName('input')[0];                
                textInput.focus();
                if (activeCard) activeCard.classList.remove('active');
                this.classList.add('active');
                // Set the value of the input box to the role name
                var roleName = this.getElementsByClassName('card-title')[0].textContent;
                inputBox.value = '';
                typeText(inputBox, roleName, 80); // Adjust the delay to speed up or slow down the typing
                selectedRole.value = roleName;  // Set the value of the selectedRole input field
            });
        }
    }

    document.addEventListener('DOMContentLoaded', function() {
        var form = document.getElementById('primary_goal_form');
        var loading = document.querySelector('.loading');

        form.addEventListener('submit', function() {
            loading.style.display = 'block';
        });
    });

    function submitFormOnEnterPress(e) {
        if (e.key === 'Enter') {
            e.preventDefault(); // prevent the default action (form submission in this case)
            var form = document.getElementById('primary_goal_form');
            var loading = document.querySelector('.loading');
            loading.style.display = 'block';
            form.submit();
        }
    }

    document.addEventListener('DOMContentLoaded', function() {
        var inputBox = document.getElementsByClassName('input')[0];
        inputBox.addEventListener('keydown', submitFormOnEnterPress);
    });

</script>
{% endblock %}