{% extends "dashboard.html" %}
{% block main %}
<div class="loading dark-spinner">Loading...</div>
<div class="goal-container">
    {% block titleContent %}{% endblock %}
    <!-- {% if subtitle == None %}
    <h1>
        {% if 'demo' not in request.url %}
        <a href="{{ url_for('dream_bp.view_dream', goal_id=goal.id) }}">
            <span class='highlight-text'>{{ title }}</span>
        </a>
        {% else %}
        <span class='highlight-text'>{{ title }}</span>
        {% endif %}
    </h1>
    {% else %}
    <h1>
        {% if 'demo' not in request.url %}
        <a href="{{ url_for('task_bp.task_detail', task_id=task.id) }}">
            <span class='highlight-text'>{{ subtitle }}</span>
        </a>
        {% else %}
        <span class='highlight-text'>{{ subtitle }}</span>
        {% endif %}
    </h1>
    <h3>        
        <span class='highlight-text'>{{ title }}</span>        
    </h3>
    {% endif %} -->
    <div class="subtasks" , id="subtasks">        
        {% for goal in goals|sort(attribute='completed') %}
            {% with task_name=goal.get_task() %}
                {% include 'goal-card-component.html' %}                
            {% endwith %}
        {% endfor %}
    </div>
</div>
{% endblock %}
```