{% extends "dashboard.html" %}

{% block main %}
<div class="container">
  <h1 class="highlight-text">Thank You for Registering!</h1>
  <p>We have sent a confirmation email to your registered email address. Please check your inbox and follow the instructions in the email to complete the registration process.</p>
  <p>If you do not receive the email within a few minutes, please check your spam folder. If you still do not see it, please contact our support team for assistance.</p>
  <p>You're well on your way to <span class="highlight-text">realizing your dreams</span>. We hope you're as excited as we are to see how far you can go with <span class="highlight-text">Pursuit Prophet!</span></p>
  <br>
  <hr>
  <div class="email-links">    
    <a href="https://mail.google.com/" target="_blank">
        <i class="fa-brands fa-google fa-2xl"></i>
        <p>Gmail</p>
    </a>
    <a href="https://login.yahoo.com/" target="_blank">
        <i class="fa-brands fa-yahoo fa-2xl"></i>
        <p>Yahoo</p>
    </a>
    <a href="https://login.live.com/" target="_blank">
        <i class="fa-brands fa-microsoft fa-2xl"></i>
        <p>Outlook</p>
    </a>
</div>
{% endblock %}