{% include 'task-view-base.html' %}
{% block scripts %}
<script>
    var Scrollbar = window.Scrollbar;
    Scrollbar.init(document.querySelector('#subtasks'));
</script>
<script src="{{ url_for('static', filename='show_alert.js') }}"></script>
<script src="{{ url_for('static', filename='goal-card-component.js') }}"></script>
<a href="{{ url_for('new_task', goal_id=goal.id) }}">
    <button class="plus-button">+</button>
</a>
<a href="{{ url_for('goal_generation', goal_id=goal.id) }}">
    <button class="generate-button"></button>
{% endblock %}
